<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue js</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="app">
		<input type="text" v-on:input="changeName"> 
		<h1>String: {{ name }}</h1>
	</div>

<hr>
<hr>

	<div id="app1">
		<h1>Sum (12 + 14): {{ 12 + 14 }}</h1>
		<h1>Number: {{ number }}</h1>
		<h1>Number: {{ sayHellow() }}</h1>
		<h1>If statement: {{ isOk ? 'I am is OK' : 'I am not is OK' }}</h1>
		<h1>Functions: {{ string.split('').reverse().join('') }}</h1>
	</div>

<hr>
<hr>

	<div id="app2">
		<h2>
			<a v-bind:href="url">{{ url }}</a>
		</h2>
	</div>

<hr>
<hr>

	<div id="app3">
		<h2 v-html="link"></h2>
	</div>

<hr>
<hr>

	<div id="app4">
		<h2>Счетчик = {{ counter }}</h2>
		<button v-on:click="riseCounter">Увеличить</button>

		<hr>

		<h2 v-on:mouseover="onHover">Счетчик 2 = {{ counter2 }}</h2>
		<button v-on:click="counter2++">Увеличить</button>
	</div>

<hr>
<hr>

	<div id="app5">
		<h2>{{ title }} = {{ counter }}</h2>
		<button v-on:click="riseCounter(5, 'Изменено на 5', $event)">Увеличить на 5</button>
		<button v-on:click="riseCounter(10, 'Изменено на 10', $event)">Увеличить на 10</button>
	</div>

<hr>
<hr>

	<div id="app6">
		<h2>
			<a href="http://google.com" target="_blank" v-on:click.prevent="">Google</a>
		</h2>

		<h2 v-on:mousemove="handleMouseMove">
			X: {{ x }} / Y: {{ y }}

			<span v-on:mousemove.stop=" ">
				Не изменять
			</span>
		</h2>

		<input type="text" v-on:keyup.enter="alertValue">
	</div>

<hr>
<hr>

	<div id="app7">
		<h2>
			<a :href="url">Google</a>
		</h2>

		<h2>
			Counter: {{ counter }}
		</h2>

		<button @click="counter++">Rise</button>
	</div>

<hr>
<hr>


	<div id="app8">
		<input type="text" v-model.lazy="inputValue">

		<h2>
			{{ inputValue }}
		</h2>
	</div>

	<div id="app9">
		<div class="circle" 
			@click="isActive = !isActive"
			:class="getCssClasses">
		</div>
		<div class="circle" :class="[color, {'red': isActive}]">
		</div>

		<hr>	

		<input type="text" v-model="color">
	</div>

<hr>
<hr>

	<div id="app10">
		<div class="circle" :style="circleClasses"></div>
		<div class="circle" :style="[circleClasses, {'width': height + 'px'}]"></div>	
			
		<hr>

		<input type="text" v-model="color">
		<input type="text" v-model="height">
	</div>

<hr>
<hr>

	<div id="app11">
		<h2 v-if="isVisible">I am visible!</h2>
		<h2 v-else>No I am not visible!</h2>
		<button type="button" @click="isVisible = !isVisible">Toggle</button>
	</div>

<hr>
<hr>
		
	<div id="app12">
		<h2 v-if="type === 'a'">A</h2>
		<h2 v-else-if="type === 'b'">B</h2>
		<h2 v-else-if="type === 'c'">C</h2>
		<h2 v-else>not match</h2>
		<input type="text" v-model="type">
	</div>

<hr>
<hr>

	<div id="app13">
		<tempalte v-if="isVisible">
			<h2>I am title</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit facere suscipit dolorloremque nobis iusto fuga. Suscipit illo ipsa error assumenda.
			</p>
		</tempalte>
		<template v-else>	
			<h2 style="color: red">I am title</h2>
			<p style="color: blue">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit facere suscipit doloremque nobis iusto fuga. Suscipit illo ipsa error assumenda.
			</p>
		</template>
	</div>

<hr>
<hr>

	<div id="app14">
		<ul>
			<li v-for="(person, index) of people">{{ index +1 }} {{ person.name }} - <b>{{ person.age }}</b></li>
		</ul>
		<hr>
		<ol>
			<li v-for="num of 4">{{ num }}</li>
		</ol>
		<hr>
		<ul>
			<li v-for="(value, key, index) of person">{{ index +1 }}. <b>{{ key }} - </b>{{ value }}</li>
		</ul>
	</div>

<hr>
<hr>

	<div id="app15">
		<h2>Counter: {{ counter }} / {{ counter2 }}</h2>
		<h3>Result: {{ result() }}</h3>
		<h3>Computed result: {{ computedResult }}</h3>
		<button @click="add">Add</button>
		<button @click="sub">Sub</button>
		<button @click="counter2++">Add cuonter 2</button>
	</div>

<hr>
<hr>


	<div id="app16">
		<h2>{{ title }}</h2>
		<h3>{{ updateTitle }}</h3>
		<button @click="title = 'Update title'">Update title</button>
	</div>

	<div id="app17">
		<h2>{{ title }}</h2>
		<button @click="updateFirstTitle">Update first title</button>
	</div>

<hr>
<hr>

	<div id="app18">
		<h2 ref="heading">{{ title }}</h2>
		<button @click="updateFirstTitle">Update first title</button>

		<hr ref="horLine">
	</div>

<hr>
<hr>

	<div id="app19"></div>

<hr>
<hr>

	<div id="app20">
		<h2>{{ title }}</h2>
		<button @click="title = 'Change title'"></button>
	</div>

	<script src="js/vue.js"></script>
	<script src="js/main.js"></script>
</body>
</html>